@use "../../Global" as g;

.banner-card {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border: g.$border;
	border-radius: 16px;

	background-color: g.$background;

	padding: 0.5rem;

	width: 100%;

	.banner-title {
		font-size: 2rem;
		font-weight: bold;

		padding: 0.5rem;
	}

	.banner-button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;

		border: g.$border;
		border-radius: 16px;

		padding: 0.5rem;

		background-color: g.$background;
		color: g.$font-secondary-color;

		.banner-button-label,
		.banner-button-icon {
			font-size: 1.5rem;
			color: g.$font-secondary-color;
		}
	}
	.banner-button:hover {
		background-color: g.$background-accent;
		border: g.$border-accent;

		.banner-button-label,
		.banner-button-icon {
			color: g.$font-accent-color;
		}
	}
}
