.dashboard-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 100vw;
	max-width: 1000px;

	padding: 0px;

	overflow-x: hidden;
	overflow-y: scroll;
}

.banner-container,
.schedule-container,
.side-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0.5rem;

	width: 100%;
}
