.schedule-card {
	display: grid;
	grid-template-columns: repeat(9, 1fr);

	border-style: solid;
	border-color: darkgrey;
	border-width: 1px;
	border-radius: 8px;

	background-color: white;

	width: 100%;

	margin: 0px;
	padding: 0px;

	overflow: scroll;
}

.sched-column-header {
	display: flex;
	justify-content: center;
	align-items: center;

	border-style: solid;
	border-color: darkgrey;
	border-width: 1px;

	text-align: center;
	padding: 0.25rem;
	width: 100%;
}

.section-header,
.section-content {
	grid-column: span 9;
}

.section-header {
	display: flex;
	align-items: center;

	border-style: solid;
	border-color: darkgrey;
	border-width: 1px;

	background-color: lightgrey;

	padding: 0.25rem 0.5rem;

	width: 100%;

	div {
		width: 100%;
		border-style: none;
		padding: 0px;
	}

	div {
		text-align: left;
	}

	div:nth-child(2) {
		text-align: right;
		color: darkgrey;
	}
}
.section-header:hover {
	background-color: orange;
	border-color: darkorange;
	color: white;
	div:nth-child(2) {
		color: darkorange;
	}
}

.section-content {
	display: grid;
	grid-template-columns: subgrid;

	border-style: none;
	padding: 0px;
}

.section-item {
	display: contents;

	.item-name,
	.item-hours {
		border-style: solid;
		border-color: darkgrey;
		border-width: 1px;

		text-align: center;
		padding: 0.25rem;
		width: 100%;
	}
}

.work-date,
.item-shift {
	border-style: none;
	padding: 0px;
	width: 100%;

	div {
		border-style: solid;
		border-color: darkgrey;
		border-width: 1px;

		text-align: center;
		padding: 0.25rem;
		width: 100%;
	}
}

.work-date {
	display: flex;
	flex-direction: column;
}

.item-shift {
	display: flex;
	justify-content: center;
	width: 100%;
}
