@use "Global" as g;

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: g.$background;

	border: g.$border;
	border-radius: 16px;

	width: 100%;
	max-height: 100%;

	overflow: hidden;
}

.card-header,
.card-main {
	padding: 0.5rem;
}

.card-header {
	display: flex;
	justify-content: space-between;

	border-bottom: g.$border;

	.card-title {
		font-size: 1.5rem;
		font-weight: bold;

		padding: 0.25rem;
	}

	.card-button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;

		border: g.$border;
		border-radius: 16px;

		padding: 0.25rem;

		background-color: g.$background;

		.card-button-label,
		.card-button-icon {
			font-size: 1.25rem;
			color: g.$font-secondary-color;
		}
	}
	.card-button:hover {
		background-color: g.$background-accent;
		border-color: g.$border-accent-color;
		.card-button-label,
		.card-button-icon {
			color: g.$font-accent-color;
		}
	}
}

.card-main {
	max-height: 100%;
	overflow-y: auto;
	.list {
		list-style-type: none;

		margin: 0px;
		padding: 0px;

		.list-item {
			display: flex;
			justify-content: space-between;

			border-bottom: g.$border-secondary;

			padding: 0.25rem;
		}
	}
}
