$font-family: monospace;
$font-size: 1rem;
$font-color: blue;
$font-secondary-color: darkgrey;
$font-tertiary-color: lightgrey;
$font-accent-color: white;

$border: 2px solid darkgrey;
$border-color: darkgrey;
$border-secondary: 2px solid lightgrey;
$border-secondary-color: lightgrey;
$border-accent: 2px solid darkorange;
$border-accent-color: darkorange;

$background: white;
$background-secondary: lightgrey;
$background-accent: orange;
